<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="dada" >
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
 
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">项目名称</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">后台</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="#">全据</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="menu-updown" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <span> 通知 公告</span>
            <span class="glyphicon glyphicon-menu-down glyphicon-right"></span>
            </a>
            <ul class="nav nav-sidebar">
           		<li><a><span>代办事项</span></a></li>
           		<li><a><span>代办事项</span></a></li>
           		<li><a><span>代办事项</span></a></li>
            </ul>        
            </li>
            <li><a href="#">报告</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">
            <span>作业</span>
            <span> 通知 公告</span>
            <span class="glyphicon glyphicon-menu-down glyphicon-right"></span>
            </a>
 				<ul class="nav nav-sidebar">
           		<li><a><span>代办事项</span></a></li>
           		<li><a><span>代办事项</span></a></li>
           		<li><a><span>代办事项</span></a></li>
            </ul>            
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav 项目</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One 跟多 nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
          
           <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-sm-offset-5 col-md-5 col-md-offset-4 ">
          <div class="panel panel-default" style="margin-top: 30px" >
           <div class="panel-heading" style="text-align: center">注册</div>
<div class="panel-body">
    <form class="form-horizontal">
    <div class="panel-body">
    <div class="input-group input-group-lg">
        <label for="inputEmail" class="sr-only">邮箱</label>
        <input type="email" style="margin: 2px auto 25px auto" id="inputEmail" class="form-control" placeholder="请邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" style="margin: 25px auto" id="inputPassword" class="form-control" placeholder="请输入密码" required>
			</div>       
        <div class="checkbox">
          <label style="margin: 25px auto">
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      
      </div>
      </form>
      </div>
         </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript">
			$(function(){
				$("#menu-updown>ul>li>ul").hide();
				$("#menu-updown>ul>li>a").click(function(){
							var a_parent= $(this).parent() ;
							a_parent.find("ul").slideToggle();
							
							//a_parent.siblings().find("ul").not($(this)).slideToggle();
							//$(this).children().find("glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
							
							//$(this).parent().siblings().find("ul").not(this).next("ul").slideUp().children().find("glyphicon-menu-up").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
					
							//$(this).addClass("liActive");
							
							//$(this).parent().parent().find("li>a").not(this).removeClass("liActive");
					});
					//侧边栏跳转到右边content
				$(".djtz>a").on('click', function(event){
								 // Avoid following the href location when clicking
    							event.preventDefault(); 
   							 // Avoid having the menu to close when clicking
    							event.stopPropagation(); 
					
					//alert($(this).attr("href"));
					$("#content").load($(this).attr("href"),null,function (responseTxt,statusTxt,xhr) {
						if(statusTxt=="success")
      					//alert("外部内容加载成功！");
    					if(statusTxt=="error")
      					alert("Error: "+xhr.status+": "+xhr.statusText);
						});
												
					});
					
			
						
				
				});	
		</script>
  </body>
</html>
